
// changed default settings that Bootstrap implemented for the nav bar
.navbar{
	margin-bottom:0px!important;
	border-radius:0px!important;
	padding:10px 0 10px 0;
	li{
		a.active{
			background-color:none;
		}
	}
}