$overlay-color: #666;

@mixin easing($easing){
	-webkit-transition: all $easing ease-out;
	-moz-transition: all $easing ease-out;
	-o-transition: all $easing ease out;
	-ms-transition: all $easing ease-out;
	transition: all $easing ease-out;
}

@mixin transforms($transform){
	transform: translateY($transform);
	-webkit-transform: translateY($transform);
}

.box{
	cursor:pointer;
	height:281px;
	position:relative;
	overflow:hidden;
	img{
		position:absolute;
		left:0;
		@include easing(300ms);
	}
	.overbox{
		background-color:$overlay-color;
		position:absolute;
		top:0;
		left:0;
		color:#fff;
		z-index:100;
		@include easing(500ms);
		opacity:0;
		width:100%;
		height:281px;
		padding: 130px 20px;
	}

	.overtext{
		@include easing(500ms);
		@include transforms(40px);

	}

	.title{
		font-size:2.5em;
		text-transdform:uppercase;
		opacity:0;
		transition-delay:0.1s;
		transition-duration: 0.2s;
	}

	.tagline{
		font-size:0.8em;
		opacity:0px;
		transition-delay:0.2s;
		transition-duration:0.2s;
	}
}

.box:hover .overbox{
	opacity:1;
}

.box:hover .title, .box:focus .title{
	opacity:1;
	@include transforms(0px);
}

.box:hover .tagline, .box:focus .tagline{
	opacity: 1;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
}